package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};

/**
 *
 * @author ${author}
 * 创建时间 ${date}
 */
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}